<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listagem</title>
</head>
<body>
    <h2 class="basic-title">Listagem de livros</h2>

    <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
            <tr>
                <td>Titulo</td>
                <td>Preço</td>
                <td>Descrição</td>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i<lista.length; i++) {%>
                <td>Titulo</td>
                <td>Preço</td>
                <td>Descrição</td>
            <% } %>
        </tbody>
    </table>
</body>
</html>