<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 - Página não Encontrada</title>
</head>
<body>
    <img src="http://www.pt.org.br/wp-content/themes/pt_2016/assets//images/404.jpg" alt="Página não encontrada">
</body>
</html>